body{
    background-color: rgb(0, 0, 0);
}
h1{
    text-align : center;
    align-items: center;
    text-decoration: none;
    font-family:serif;
    color:#fff;
} 
h2{
    font-family:'Arial Narrow Bold';
    color:#fff;
}
h3{
    font-family:'Arial Narrow Bold';
    color:#fff;
}
p{
    color:#fff;
}
.menu {
    float: center;
    width: 8%;
    text-align: center;
}
.index a{
    display: flex;
    color: rgb(255,255,255);
    width:fit-content;
    text-align:center;
    padding: 1vw;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    background-color:rgb(56, 84, 109)
}
.index a:hover{
    background-color: rgb(32, 49, 88)
}

.header_img{
    align-items:flex-start;
}
.menu-bar{
    /*background: rgb;*/
    text-align: center;
    
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
    width: 120px;
    margin : 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;

}
.menu-bar ul li a:hover
{
    color: red;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: transparent;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: red;
}

iframe{
    align-self:center;
    align-items:center;
    width:420px;
    height:920px;
    border:double;
    border-color:#fff;
}

.g_blue{
    color:rgb(66,133,244);
    display:inline;
}
.g_red{
    color:rgb(234,67,53);
    display:inline;
}
.g_green{
    color:rgb(52,168,83);
    display:inline;
}
.g_yellow{
    color:rgb(251,188,5);
    display:inline;
}
